<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="senderid">
	<f:translate key="tx_profilematching_domain_model_userlink.senderid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="senderid" /><br />
<label for="receiverid">
	<f:translate key="tx_profilematching_domain_model_userlink.receiverid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="receiverid" /><br />
<label for="status">
	<f:translate key="tx_profilematching_domain_model_userlink.status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="status" /><br />
</html>