<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />


<f:section name="main">

    <f:flashMessages />


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    My Profile   </div>
                <div class="panel-body">

                    <f:for each="{userdetailss}" as="userdetails">
                        <f:render partial="Userdetails/Properties" arguments="{userdetails:userdetails}" />
                    </f:for>
                    <f:link.action action="gotoHome">Home page</f:link.action><br />


                </div>


            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>

</f:section>
</html>