<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-profilematching"  >
	<tr>
		<td>
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b> <f:translate key="tx_profilematching_domain_model_userdetails.userid" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.userid}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-font" aria-hidden="true"></span> <b><f:translate key="tx_profilematching_domain_model_userdetails.title" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.title}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-text-width" aria-hidden="true"></span>&nbsp;<b><f:translate key="tx_profilematching_domain_model_userdetails.fullname" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.fullname}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<b><f:translate key="tx_profilematching_domain_model_userdetails.email" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.email}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>&nbsp;<f:translate key="tx_profilematching_domain_model_userdetails.gender" /> </b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.gender}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;<b><f:translate key="tx_profilematching_domain_model_userdetails.major" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.major}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-text-color" aria-hidden="true"></span> <b><f:translate key="tx_profilematching_domain_model_userdetails.language" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.language}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;<b><f:translate key="tx_profilematching_domain_model_userdetails.activity" /></b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.activity}
		</td>
	</tr>
	<tr>
		<td>
			<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;<b>&nbsp;<f:translate key="tx_profilematching_domain_model_userdetails.visitedplaces" /> </b>
		</td>
		<td style="padding-left: 10px;">
			{userdetails.visitedplaces}
		</td>
	</tr>
</table>
</html>